@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <img src="~/img/Workplace.jpg" class="img-fluid" alt="Workplace" />
    <a asp-action="Signup" asp-controller="Home"><button class="btn signupbtn">Click here to Create Account</button></a>
</div>